{{!-- <a href="/post/{{id}}" class="post-container">
    <div class="post-children">
        <div class="post-title">
            <h3>{{title}} </h3>
            <h4 class="posted-by">Posted by {{user.username}} on {{format_date created_at}}</h4>
            {{!-- pass in created at for posts --}}
        </div>
        <p>{{content}}</p>
    </div>
</a> --}}