{{!-- DETAILED VIEW OF A POST GOES HERE! --}}
<div class="m-3">
    <div class="m-3 card">
        <h5 class="card-title row m-2">
            {{post.title}}
        </h5>
        <label class="form-label" for="basic-metrics mx-2">Metrics at time of posting</label>
        <div class="row" id="basic-metrics">
            <div class="col-6">
                <label class="form-label mx-2" for="price">Price: <span class="card-text"
                        id="price">{{post.price}}</span></label>

                <label class="form-label mx-2" for="change">Change: <span class="card-text"
                        id="change">{{post.change}}</span></label>

                <label class="form-label mx-2" for="percent-change">Percent Change: <span class="card-text"
                        id="percent-change">{{post.percent_change}}%</span></label>
            </div>
        </div>
        <div class="card-body row">
            <p class="card-text">{{post.description}}</p>
            <div class="inline-block"></div>
            {{!-- <p class="card-body">{{post.updatedAt}}</p> --}}
            <label class="form-label" for="username">User: <span class="card-text"
                    id="username">{{post.user_id}}</span></label>
            {{!-- how to grab the username... --}}
        </div>
    </div>
</div>

{{!--COMMENTS SECTION GOES HERE!--}}
{{#each post.comment}}
<div class="card row m-3">
    <p class="card-text">{{comment.text_body}}</p>
    <div class="inline-block">
        <label class="form-label" for="username">User: <span class="card-text"
                id="username">{{comment.user_id}}</span></label>
        {{!-- how to grab the username... --}}
    </div>
</div>
{{/each}}


{{!-- MAKE A COMMENT GOES HERE --}}
{{#if loggedIn}}
<div class="row m-3 w-75">
    <form class="add-comment-form form-group row">
        <label class="form-label" for="description">
            Add a comment...
        </label>
        <br />
        <textarea id="description" class="form-control"
            placeholder="Bruh, who puts their life savings in ornamental gourd futures? What is wrong with you??????"
            aria-label="ticker" name="ticker" name="description" rows="6" cols="30">
              {{description}}
            </textarea>
        <div class="row">
            <input type="radio" class="btn-check" name="options-outlined" id="bear-btn" autocomplete="off">
            <label class="btn btn-outline-danger custom-btn" for="bear-btn">🐻 Bearish 📉</label>
            <input type="radio" class="btn-check" name="options-outlined" id="bull-btn" autocomplete="off">
            <label class="btn btn-outline-success custom-btn" for="bull-btn">🐮 Bullish 📈</label>
        </div>
        <button class="btn btn-secondary custom-btn" type="submit" value="Submit">
            Submit
        </button>
    </form>
</div>
<script src="/js/add-comment.js"></script>
{{/if}}